<!DOCTYPE html>
<html>
<head>
  <title>WebscrapperApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
        <% if message_type == "success" %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% else %>
            <div class="alert alert-info"><%= message %></div>
        <% end %>
    <% end %>
    <%= yield %>
  </div>

  <footer class="navbar navbar-default navbar-inverse">
  <div class="container">
    <p class = "navbar-text pull-centre">CSC 510 PROJECT | Moharnab Saikia | Pranjal Deka | Rashmi Sandilya | Sindhu Balakrishnan | NC State University, 2016</p>
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>


</body>
</html>
